<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Form example with Java, Spring Boot, FreeMarker</title>
     
    </head>
    <body>
        <h2>Handling Form Submission example with Java, Spring Boot, FreeMarker</h2>
        <form action="/formsubmit" method="get">
            First name:<br>
            <input type="text" name="firstName">
            <br><br>
            Last name:<br>
            <input type="text" name="lastName">
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>